

body {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  margin: 0px;
  padding: 0px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  background-color: #1f2937;
  color: #f9faf8;
  padding: 0px 100px;
}

.logo-text {
  color: #F9FAF8;
  font-size: 24px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  color: inherit;
}

ul {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  gap: 10px;
  color: inherit;
}

li {
  background-color: inherit;
  color: inherit;
}

a {
  background-color: inherit;
  color: inherit;
  text-decoration: none;
}

.information-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 auto;
  padding: 0px 100px;
}

.information-header-text {
  font-size: 36px;
  color: #1F2937;
  font-weight: 900;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 48px;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex: 0 0 auto;
  max-width: 150px;
}

.card-image {
  display: flex;
  height: 150px;
  width: 150px;
  border-radius: 8px;
  border-color: #3882f6;
  border-width: 2px;
  border-style: solid;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 auto;
}

.card-text {
  text-align: center;
  text-justify: distribute-all-lines;
}

.hero-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1 1 0;
  justify-content: space-around;
  background-color: #1f2937;
  padding: 0px 100px;
}

.hero-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  gap: 0px;
  flex: 1 1 0;
}

.hero-main-text {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  margin: 0px;
}

.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
  text-wrap: wrap;
}

.place-holder-image {
  display: flex;
  background-color: grey;
  align-items: center;
  flex: 1 1 1;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  border-style: none;
}

.quote-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-right: 100px;
  padding-bottom: 40px;
  padding-left: 100px;
  background-color: #e5e7eb;
}

.author-text {
  font-weight: bold;
  align-self: flex-end;
}

.quote-text {
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
  color: #1f2937;
  margin: 20px 40px;
}

.call-to-action-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 40px;
  padding-right: 100px;
  padding-bottom: 40px;
  padding-left: 100px;
}

.call-to-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #3882f6;
  width: 100%;
  color: #f9faf8;
}

.background-dark {
  background-color: #1f2937;
}

button {
  cursor: pointer;
  background-color: #3882f6;
  /* font-weight: 700; */
  color: #f9faf8;
  padding: 8px 24px;
  border-color: #f9faf8;
  border-radius: 8px;
}

button.sign-up-1 {
  border-width: 2px;
  border-color: #f9faf8;
  border-style: solid;
}

button.sign-up-2 {
  border-style: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #f9faf8;
  background-color: #1f2937;
  padding-top: 20px;
  padding-bottom: 20px;
  padding: 0px 100px;
}